<!doctype html>
<html lang="ro" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>MSD Be Well</title>
    <!--Get amazon bucket-->
    <script>
        const DEFAULT_AMAZON_BUCKET = "<%=amazonBucket%>";
        const DEFAULT_AMAZON_PREFIX = "<%=amazonPrefix%>";
        const ACCESS_ROUTE = "<%=accessRoute%>";
        const GA_CODE = "<%=GA_code%>";
        const NO_PROOF_DOMAIN = "<%=noProofDomain%>";
        const HASH_PREFIX = "!";
        const USERS_ALLOWED_LOGIN = "<%=usersAllowedLogin%>";
        var REQUESTED_PRO = parseInt("<%=requestedPRO%>");
        var REQUESTED_STAYWELL_ACTIVATION = parseInt("<%=requestedActivation%>");
        var ACTIVATED_STAYWELL_ACCOUNT = parseInt("<%=accountActivated%>");
        var REQUESTED_STAYWELL_LOGIN = parseInt("<%=showLogin%>");

        var REDIRECT_AFTER_LOGIN = null;
    </script>
    <meta name="fragment" content="!" />
    <meta name="google-site-verification" content= "<%=siteVerification%>" />

    <!--Google analytics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', GA_CODE, 'auto');
    </script>

    <!--Google analytics debug-->
    <!--<script>-->
    <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
    <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
    <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--})(window,document,'script','//www.google-analytics.com/analytics_debug.js','ga');-->
    <!--ga('create', 'UA-60523258-1', {-->
    <!--'cookieDomain': 'none'-->
    <!--});-->
    <!--</script>-->

    <!--Core-->
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/oclazyload/dist/ocLazyLoad.js"></script>

    <!--Core-modules-->
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!--Controllers-->
    <script src="javascript/noPatients/app.js"></script>
    <script src="javascript/noPatients/controllers.js"></script>
    <script src="javascript/public/services.js"></script>
    <script src="javascript/shared/services.js"></script>
    <script src="javascript/public/publicDirectives.js"></script>
    <script src="javascript/shared/directives.js"></script>
    <script src="javascript/public/RootController.js"></script>

    <!--Stylesheets-->
    <link rel="stylesheet" href="stylesheets/public/defaultStyles.css">
    <link rel="stylesheet" href="stylesheets/noPatients/styles.css">
    <link rel="stylesheet" href="stylesheets/stylesThatReignSupreme.css">

    <meta name="google-site-verification" content="l5SSD9XMYMA-7lSY4GrpskwIVGfxeyyk71tgU26evHY" />
</head>
<body>
</body>
</html>