<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>MSD Be Well</title>
    <!--Get amazon bucket-->
    <script>
        const DEFAULT_AMAZON_BUCKET = "<%=amazonBucket%>";
        const ACCESS_ROUTE = "<%=accessRoute%>";
        const GA_CODE = "<%=GA_code%>";
        var REQUESTED_STAYWELL_ACTIVATION = parseInt("<%=requestedActivation%>");
        var ACTIVATED_STAYWELL_ACCOUNT = parseInt("<%=accountActivated%>");
        var REQUESTED_STAYWELL_LOGIN = parseInt("<%=showLogin%>");
    </script>

    <!--Google analytics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', GA_CODE, 'auto');
    </script>

    <!--Google analytics debug-->
    <!--<script>-->
    <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
    <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
    <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--})(window,document,'script','//www.google-analytics.com/analytics_debug.js','ga');-->
    <!--ga('create', 'UA-60523258-1', {-->
    <!--'cookieDomain': 'none'-->
    <!--});-->
    <!--</script>-->

    <!--Stylesheets-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="components/angular-carousel/dist/angular-carousel.min.css">
    <link rel='stylesheet' href='components/angular-ui-select/dist/select.min.css' />
    <link rel='stylesheet' href='components/select2/select2.css' />
    <link rel="stylesheet" href="stylesheets/public/defaultStyles.css">
    <link rel="stylesheet" href="stylesheets/stylesThatReignSupreme.css">

    <!--Core-modules-->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="components/angular-resource/angular-resource.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="components/ng-file-upload/angular-file-upload.min.js"></script>
    <script src="components/angular-ui-select/dist/select.min.js"></script>


    <!--Controllers-->
    <script src="javascript/public/app.js"></script>
    <script src="javascript/public/controllers.js"></script>
    <script src="javascript/public/services.js"></script>
    <script src="javascript/public/publicDirectives.js"></script>
    <script src="javascript/shared/services.js"></script>
    <script src="javascript/shared/controllers.js"></script>
    <script src="javascript/public/RootController.js"></script>
    <script src="javascript/public/SearchControllers/Search.js"></script>
    <script src="javascript/public/HomeControllers/HomeView.js"></script>
    <script src="javascript/public/HomeControllers/HomeNews.js"></script>
    <script src="javascript/public/HomeControllers/HomeMostRead.js"></script>
    <script src="javascript/public/HomeControllers/HomeDownloads.js"></script>
    <script src="javascript/public/ModalControllers/ContactModal.js"></script>
    <script src="javascript/public/NewsControllers/NewsView.js"></script>
    <script src="javascript/public/ArticlesControllers/ArticlesView.js"></script>
    <script src="javascript/public/ArticlesControllers/ArticlesDetail.js"></script>
    <script src="javascript/public/DownloadsControllers/DownloadsView.js"></script>
    <script src="javascript/public/DownloadsControllers/DownloadsDetail.js"></script>
    <script src="javascript/public/ElearningControllers/ElearningView.js"></script>
    <script src="javascript/public/ElearningControllers/ElearningDetail.js"></script>
    <script src="javascript/public/AuthControllers/AuthModal.js"></script>
    <script src="javascript/public/AuthControllers/Signup.js"></script>

    <!--Plug-ins-->
    <script src="components/requestAnimationFrame/app/requestAnimationFrame.js"></script>
    <script src="components/es5-shim/es5-shim.min.js"></script>
    <script src="components/shifty/dist/shifty.min.js"></script>
    <script src="components/angular-touch/angular-touch.min.js"></script>
    <script src="components/angular-carousel/dist/angular-carousel.min.js"></script>
    <script src="modules/custom_timeline/timelineDirective.js"></script>
    <link rel="stylesheet" href="modules/custom_timeline/timelineStyles.css">
    <script src="components/videogular/videogular.min.js"></script>
    <script src="components/videogular-controls/vg-controls.min.js"></script>
    <script src="components/videogular-overlay-play/vg-overlay-play.min.js"></script>
    <script src="components/videogular-poster/vg-poster.min.js"></script>
    <script src="components/videogular-buffering/vg-buffering.min.js"></script>
</head>
<body ng-controller="RootController">

<div id="publicHeaderWrapper">
    <div id="publicHeader">
        <!--<div ng-if="accessRoute"><h2>Are you a robot trying to access {{accessRoute}}?</h2></div>-->
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="headerSearchAndLinks">
                        <div class="item">
                            <ul>
                                <li>
                                    <a href="#">Manualul Merck</a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a style="cursor: pointer" ng-click="showContactModal()">Contact</a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a ng-click="showAuthModal('login')">Log in</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <form class="navbar-form" role="search" ng-submit="searchText(this.textToSearch)">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" ng-model="textToSearch">
                                    <span class="input-group-addon" ng-click="searchText(textToSearch)"><i class="glyphicon glyphicon-search"></i></span>
                                </div>
                                <button type="submit" class="btn btn-default sr-only">Submit</button>
                            </form>
                        </div>
                    </div>
                    <a class="navbar-brand" href="#"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.png'}}"></a>
                </div>

                <div class="collapse navbar-collapse" collapse="navCollapsed">

                    <ul class="nav navbar-nav">
                        <li ng-class="{'active': $state.includes('home')}"><a ui-sref="home.noutati" ng-click="navCollapsed = true"> Home </a></li>
                        <li ng-class="{'active': $state.includes('stiri')}"><a ui-sref="stiri.all" ng-click="navCollapsed = true"> Stiri </a></li>
                        <li dropdown class="dropdown" ng-class="{'active': $state.includes('articole')}">
                            <a dropdown-toggle class="dropdown-toggle" data-toggle="dropdown">
                                Despre <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="category in categories" ui-sref="articole.all({category: category._id})" ng-click="navCollapsed = true"><a>{{category.name}}</a></li>
                            </ul>
                        </li>
                        <li ng-class="{'active': $state.includes('elearning')}"><a ui-sref="elearning.all({area: 0})" ng-click="navCollapsed = true"> Elearning </a></li>
                        <li ng-class="{'active': $state.includes('downloads')}"><a ui-sref="downloads.all" ng-click="navCollapsed = true"> Downloads </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right searchAndLinks">
                        <li>
                            <form class="navbar-form navbar-right" role="search" ng-submit="searchText(this.textToSearch)">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" ng-model="textToSearch">
                                    <span class="input-group-addon" ng-click="searchText(textToSearch)"><i class="glyphicon glyphicon-search"></i></span>
                                </div>
                                <button type="submit" class="btn btn-default sr-only">Submit</button>
                            </form>
                        </li>
                        <li class="navbar-link">
                            <a href="http://www.merckmanuals.com" target="_blank">Manualul Merck</a>
                        </li>
                        <li class="link-divider"></li>
                        <li class="navbar-link">
                            <a style="cursor: pointer" ng-click="showContactModal()">Contact</a>
                        </li>
                        <li class="link-divider"></li>
                        <li class="navbar-link">
                            <a ng-click="showAuthModal('login')">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="publicContentWrapper" footer-bottom>
    <div class="container" id="publicContent">
        <div ui-view class="view-container rootView"></div>
    </div>

    <div class="footer text-center">
        <hr>
        <a href="#">Home</a>&nbsp;|&nbsp;
        <a href="http://www.merckmanuals.com" target="_blank">Manualul Merck</a>&nbsp;|&nbsp;
        <a style="cursor: pointer" ng-click="showContactModal()">Contact</a>
    </div>
</div>

</body>
</html>