<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>MSD Be Well</title>
    <!--Get amazon bucket-->
    <script>
        const DEFAULT_AMAZON_BUCKET = "<%=amazonBucket%>";
        const DEFAULT_AMAZON_PREFIX = "<%=amazonPrefix%>";
        const ACCESS_ROUTE = "<%=accessRoute%>";
        const GA_CODE = "<%=GA_code%>";
        const NO_PROOF_DOMAIN = "<%=noProofDomain%>";
        const HASH_PREFIX = "!";
        var REQUESTED_PRO = parseInt("<%=requestedPRO%>");
        var REQUESTED_STAYWELL_ACTIVATION = parseInt("<%=requestedActivation%>");
        var ACTIVATED_STAYWELL_ACCOUNT = parseInt("<%=accountActivated%>");
        var REQUESTED_STAYWELL_LOGIN = parseInt("<%=showLogin%>");

        var REDIRECT_AFTER_LOGIN = null;
    </script>

    <!--Google analytics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', GA_CODE, 'auto');
    </script>

    <!--Google analytics debug-->
    <!--<script>-->
    <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
    <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
    <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
    <!--})(window,document,'script','//www.google-analytics.com/analytics_debug.js','ga');-->
    <!--ga('create', 'UA-60523258-1', {-->
    <!--'cookieDomain': 'none'-->
    <!--});-->
    <!--</script>-->

    <!--Core-->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <!--<script src="components/jquery-ui/ui/minified/jquery-ui.min.js"></script>-->
    <script src="components/angular/angular.js"></script>
    <script src="components/oclazyload/dist/ocLazyLoad.js"></script>

    <!--Global styles-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="stylesheets/public/defaultStyles.css">
    <link rel="stylesheet" href="stylesheets/stylesThatReignSupreme.css">

    <!--Core-modules-->
    <script src="components/angular-touch/angular-touch.min.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="components/angular-resource/angular-resource.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="components/angular-animate/angular-animate.min.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="components/angular-off-click/offClick.js"></script>

    <!--Widgets-->
    <link rel="stylesheet" href="modules/mobile_content_list/mobile_content_list.css">
    <script src="modules/mobile_content_list/mobile_content_list.js"></script>
    <script src="modules/sticky-footer/footer_responsive.js"></script>
    <link rel="stylesheet" href="modules/horizontal-content-list/styles.css">
    <script src="modules/horizontal-content-list/directive.js"></script>
    <link rel="stylesheet" href="modules/widget-most-read/styles.css">
    <script src="modules/widget-most-read/directive.js"></script>

    <!--Global controllers, services, directives-->
    <script src="javascript/public/app.js"></script>
    <script src="javascript/public/controllers.js"></script>
    <script src="javascript/shared/controllers.js"></script>
    <script src="javascript/public/services.js"></script>
    <script src="javascript/shared/services.js"></script>
    <script src="javascript/public/publicDirectives.js"></script>
    <script src="javascript/shared/directives.js"></script>
    <script src="javascript/public/RootController.js"></script>

</head>
<body ng-controller="RootController">

<div id="publicHeaderWrapper">
    <div id="publicHeader">
        <!--<div ng-if="accessRoute"><h2>Are you a robot trying to access {{accessRoute}}?</h2></div>-->
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-toggle" ng-click="toggleNavbar()" id="nav-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="headerSearchAndLinks">
                        <div class="item">
                            <ul class="showOnTD">
                                <li>
                                    <a style="cursor: pointer" ng-click="showContactModal()">Contact</a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a ng-click="showAuthModal('login')">Log in</a>
                                </li>
                            </ul>
                            <ul class="showOnPsT">
                                <li>
                                    <a ng-click="showAuthModal('login')"><span class="MSDgreen"><strong>Log in</strong></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <form class="navbar-form" role="search" ng-submit="searchText(this.textToSearch)">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Search" ng-model="textToSearch">
                                    <span class="input-group-addon" ng-click="searchText(textToSearch)"><i class="glyphicon glyphicon-search"></i></span>
                                </div>
                                <button type="submit" class="btn btn-default sr-only">Submit</button>
                            </form>
                        </div>
                    </div>
                    <a class="navbar-brand" ui-sref="home.noutati"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.png'}}"></a>
                </div>

                <div class="collapse navbar-collapse" collapse="navCollapsed" off-click="closeNavbar()" off-click-if="!navCollapsed" off-click-filter="'#nav-toggle'">

                    <ul class="nav navbar-nav navbar-right searchAndLinks">
                        <li>
                            <form class="navbar-form navbar-right" role="search" ng-submit="searchText(this.textToSearch)">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Search" ng-model="textToSearch">
                                    <span class="input-group-addon" ng-click="searchText(textToSearch)"><i class="glyphicon glyphicon-search"></i></span>
                                </div>
                                <button type="submit" class="btn btn-default sr-only">Submit</button>
                            </form>
                        </li>
                        <li class="navbar-link">
                            <a style="cursor: pointer" ng-click="showContactModal()">Contact</a>
                        </li>
                        <li class="link-divider"></li>
                        <li class="navbar-link">
                            <a ng-click="showAuthModal('login')">Log in</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navigation">
                        <li class="collapsedForm showOnPsT">
                            <form role="search" ng-submit="searchText(this.textToSearch)">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" ng-model="textToSearch">
                                    <span class="input-group-addon" ng-click="searchText(textToSearch)"><i class="glyphicon glyphicon-search"></i></span>
                                </div>
                                <button type="submit" class="btn btn-default sr-only">Submit</button>
                            </form>
                        </li>
                        <li ng-class="{'active': $state.includes('home')}" ui-sref="home.noutati"><a>Acasa</a></li>
                        <li ng-class="{'active': $state.includes('stiri')}" ui-sref="stiri.all"><a>Noutati</a></li>
                        <li dropdown class="dropdown" ng-class="{'active': $state.includes('articole')}">
                            <a dropdown-toggle class="dropdown-toggle" data-toggle="dropdown">
                                Despre <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="category in navCategories" ui-sref="articole.all({category: category._id})"><a>{{category.name}}</a></li>
                            </ul>
                        </li>
                        <li ng-class="{'active': $state.includes('elearning')}" ui-sref="elearning.all({area: 0})"><a>Biblioteca de resurse</a></li>
                        <li ng-class="{'active': $state.includes('downloads')}" ui-sref="downloads.all"><a>Aplicatii</a></li>
                        <li><a>Alimentatie</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="publicContentWrapper">
    <div class="container" id="publicContent">
        <div ui-view class="view-container rootView"></div>
    </div>
    <footer-responsive stick-below-id="publicContent" template-link="partials/public/footer.html"></footer-responsive>
</div>
</body>
</html>